/* general Style changes undependent on mediaScale */
/* Main Body changes */
body {
    font-family: 'Segoe UI';
    background-color: #222629;
}
/* #659DBD 90CCF4 */
/* Everything sidebar related */
#sidebar {
    background-color: #86C232;
    float: left;
    border-radius: 10px;
    width: 20vw;
    height: 98.5vh;
    user-select: none;
    min-width: 250px;
}

#sidebar header p {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 40px;
}

.menu_option {
    text-align: left;
    font-size: 30px;
    margin: -5px;
    display: block;
    text-decoration: none;
    padding: 10px;
}

.menu_option:hover {
    background-color: #86C232;
    filter: brightness(0.64);
}

/* Everything playfieldrelated */
#playfield_container {
    float: left;
}

#playfield {
    background-color: #222629;
    position: absolute;
    left: 25vw;
    top: 5vw;
}

@media all and (max-width: 1250px) {
    #playfield {
        position: absolute;
        left: 300px;
        top: 5vw;
    }
}

@media all and (max-width: 1050px) {
    #playfield {
        visibility: hidden;
    }
}

/* Menu for playfield */
#playfield_menu {
    background-color: #86C232;
    float: left;
    width: 17vw; 
    max-width: 350px;
    min-width: 220px;
    border-right: 1px solid black;
}

#playfield_menu h1 {
    text-align: center;
    font-size: 26px;
}

/* Everything dropdown-button related */
.dropdown_menu {
    user-select: none;
    display: inline-block;
    text-align: center;
    width: 17vw;
    max-width: 350px;
    min-width: 220px;
    font-size: 22px;
}

.dropdown_menu:hover
    .algorithm_menu_options {
        background-color: #86C232;
        display: block;
        visibility: visible;
        text-align: center;
    }

.algorithm_menu_options {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    visibility: hidden;
    background-color: inherit;
    width: 17vw;
    max-width: 350px;
    min-width: 220px;
}

.dropdown_menu a {
    display: block;
    padding: 8px;
    color: black;
}

.dropdown_menu a:hover{
    background-color: #86C232;
    filter: brightness(0.64);
}

#menu1_btn2 {
    display: none;
}

#menu1:hover 
    #menu1_btn1 {
        display: none;
    }

#menu1:hover 
    #menu1_btn2 {
        display: inline-block;
        text-align: inherit;
    }

#menu2 {
    display: none;
}

#menu3 {
    display: none;
}

.drowdown_button {
    border:none;
    background-color: inherit;
    font-size: inherit;
}

.start_reset button {
    background-color: #86C232;
    user-select: none;
    text-align: center;
    align-self: bottom;
    width: 17vw;
    max-width: 350px;
    min-width: 220px;
    font-size: 22px;
    border: none;
    display: block;
}

.start_reset:hover {
    display: inline-block;
    filter: brightness(0.64);
}

/* Everything grid related */

.gridCells {
    position: relative;
    border: 1px solid gray;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-right: 2px;
    background-color: white;
}

.gridCells:hover {
    background-color: #FC4445;
}
